{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "mocha": true
  },
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "quotes": [2, "single", "avoid-escape"],
    "prefer-template": 2,
    "linebreak-style": 2,
    "no-console": 0,
    "no-debugger": 1,
    "no-var": 1,
    "no-mixed-operators": 0,
    "no-unused-expressions": 0,
    "semi": [
      1,
      "always"
    ],
    "no-trailing-spaces": 0,
    "eol-last": 2,
    "no-confusing-arrow": [2, { "allowParens": true }],
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "object-curly-newline": ["error", { "consistent": true }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-extra-boolean-cast": 1,
    "no-continue": 1,
    "no-restricted-syntax": 2,
    "no-use-before-define": 2,
    "no-return-await": 0,
    "no-multi-assign": 0,
    "import/no-named-as-default": 1,
    "import/no-duplicates": [
      0,
      {
        "commonjs": true
      }
    ],
    "import/no-unresolved": [
      0,
      {
        "commonjs": true
      }
    ],
    "import/export": 1,
    "import/prefer-default-export": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0,
    "jsx-quotes": 1,
    "max-len": 0,
    "quote-props": 2,
    "global-require": 2,
    "class-methods-use-this": 0,
    "react/display-name": 0,
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any"
        ]
      }
    ],
    "react/jsx-boolean-value": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-curly-spacing": [0, "always"],
    "react/jsx-indent-props": 0,
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 1,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-sort-props": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-danger": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-multi-comp": 1,
    "react/no-set-state": 0,
    "react/no-unknown-property": 1,
    "react/prefer-es6-class": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 0,
    "react/self-closing-comp": 1,
    "react/sort-comp": 1,
    "react/wrap-multilines": 0
  },
  "globals": {
    "socket": true
  }
}
